.top-content {
  background-color: #333; /* Will need to change color */
  height: 400px;
}

.image-container {
  text-align: center;
  align-items: center;
}

.image-container > img {
  width: 800px;
  opacity: 0.75;
  margin-top: -250px;
  border-radius: 10px;
}

.about-container {
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.development-container {
  border: solid #61dafbaa 2px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.studying-container {
  display: flex;
}

.studying-container > img {
  width: 200px;
}
