.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: flex;
    position: fixed;
    font-size: 24px;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
