.profile-photo {
  margin-top: 16px;
  border-radius: 50%;
  width: 140px;
  margin: 2em;
}

.profile-photo:hover {
  box-shadow: 0 0 40px 5px #61dafbaa;
  transition: box-shadow 0.3s ease;
}

/* NAME HEADER */

.name {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
}

.name:hover {
  color: #61dafbaa /* #646cffaa)*/;
}

/* WEBSITE ICON STYLES */

.icon-row {
  display: flex;
  justify-content: space-evenly;
}

.icon-row > a {
  color: white;
}

.icon-row > a:hover {
  color: #61dafbaa /* #646cffaa)*/;
}

.icon-btn {
  font-size: 24px;
}
