/* === HERO SECTION === */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  background-image: url("src/assets/LAbyMatt.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.home-content {
  position: relative;
  color: #ffffff;
}

.home-content > h1 {
  font-size: 74px;
  margin-bottom: 0;
}

.home-content > h2 {
  font-size: 36px;
  margin-top: 0;
}

.home-content > h2 > span {
  text-decoration: underline #61dafbaa;
}

.home-photo {
  width: 600px;
  height: 600px;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  overflow: hidden;
  object-fit: cover;
}

/* === EXPERIENCE SECTION === */
.experience {
  background: #f5f8fd;
  color: black;
  padding-bottom: 20px;
}

.experience > h3 {
  font-size: 36px;
  padding-left: 40px;
  margin-bottom: 0;
}

.experience-item > h4 {
  margin-top: 0;
  font-size: 24px;
}

.experience-item > h5 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 16px;
}

.experience-item > p {
  font-style: italic;
}

/* === EXPERIENCE JOINTED BULLETS === */
.experience > ul {
  list-style-type: none;
}

/* <li> */
.experience-item {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}

/* Line styles */
.experience-item::before {
  background-color: #61dafbaa;
  width: 2px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
}

/* Starts the line further down on the first list item */
.experience-item:first-child::before {
  top: 24px;
}

/* Stops the line short on the final list item */
.experience-item:last-child::before {
  bottom: 10px;
}

.marker-lg {
  width: 16px;
  padding-top: 8px;
  margin-left: -22px;
  padding-right: 8px;
  fill: #61dafbaa;
  float: left;
}

.marker-sm {
  margin-left: -20px;
  padding-top: 2px;
  width: 12px;
  fill: #61dafbaa;
  float: left;
  padding-right: 10px;
}

/* === EDUCATION SECTION === */
.education {
  padding-left: 40px;
  padding-right: 40px;
}

.education > h3 {
  font-size: 36px;
  color: #ffffff;
}

/* TODO: Change to use CSS Grid */

.education-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.badge {
  width: 200px;
}

.badge-scrimba {
  border-radius: 50%;
}

.education-item {
  display: flex;
  background-color: #333;
  align-items: center;
  border: solid #61dafbaa 2px;
  border-radius: 10px;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* Gunmetal (#2a3439):
Charcoal (#333333):
Onyx (#353839):
*/
