/* HOME STYLES */
.home-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .home-top {
    padding-left: 50px;
  }

  .home-top > h2 > span {
    text-decoration: underline;
  }
  
  .home-photo {
    width: 600px;
    height: 600px;
    border-top-left-radius: 30%; /* Adjust the radius to control the curve */
    border-bottom-left-radius: 30%; /* Adjust the radius to control the curve */
    overflow: hidden;
    object-fit: cover;
  }