/* === RESOURCES HEADER === */
.resources-container {
  padding: 0 40px 0 40px;
}

.resources-container > h1 {
  font-size: 36px;
}

.resources-nav {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.resources-nav > a {
  color: white;
  text-decoration: none;
}

.resources-nav > a:hover,
.resources-nav > a.active {
  color: #61dafbaa;
  text-decoration: underline;
}

/* === CARD GRID LAYOUT === */
/* .card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-left: 24px;
} */
