.projects {
  padding: 0 40px 0 40px;
}

.projects > h1 {
  font-size: 36px;
}

.projects-grid {
  display: flex; /* Will eventually change to CSS Grid */
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
  justify-items: start;
}

.iframe-container {
  text-align: center;
  margin-bottom: 40px;
}

.kaggle-iframe {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 800px;
}

@media (max-width: 1000px) {
  .projects-grid {
    flex-direction: column;
    align-items: center;
  }
}
