@import "leaflet/dist/leaflet.css";

.runs-container {
  padding: 0 40px 0 40px;
  min-height: 100vh;
}

.runs-container > h1 {
  font-size: 36px;
  margin-bottom: 0;
}

.runs-container > p {
  margin-top: 0;
  margin-bottom: 30px;
}

.weekly-tracker,
.marathons,
.month-recap,
.recent-activity {
  height: 100%;
}

/* === DASHBOARD TOP === */
.dashboard-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
}

#map {
  height: 40vh;
  width: 60%;
  overflow: hidden;
  border: solid #61dafbaa;
  border-radius: 10px;
}

.dashboard-top-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.weekly-tracker > p {
  margin-top: 0;
  text-align: center;
}

/* === DASHBOARD BOTTOM === */
.dashboard-bottom {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  margin-top: 40px;
  height: 25vh;
}

.month-recap {
  width: 40%;
}

.recent-activity {
  width: 60%;
}
