/* GENERAL NAVIGATION */
.nav-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 20px;
}

/* NAV ICON STYLES */

.nav-container {
  display: flex;
  align-items: center;
}

.icon-container:hover {
  color: #61dafbaa !important /* #646cffaa)*/;
}

.nav-container > a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding-left: 8px;
}

.nav-container > a:hover,
.nav-container > a.active {
  color: #61dafbaa /* #646cffaa)*/;
}

.icon-style {
  font-size: 20px;
  color: white;
}
